<div>
  <h1 class="text-center">{{ name }}</h1>
  <h2 class="title py-4 px-6 border rounded flex items-center flex-col mb-2">
    НОЯБРЬ
  </h2>
  <table class="text-center table-striped table table-bordered otstup">
    <thead>
      <th scope="col">Понедельник</th>
      <th scope="col">Вторник</th>
      <th scope="col">Среда</th>
      <th scope="col">Четверг</th>
      <th scope="col">Пятница</th>
      <th scope="col">Суббота</th>
      <th scope="col">Воскресенье</th>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let date of dates" >
          {{ date }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let date of dates1">
          {{ date }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let date of dates2">
          {{ date }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let date of dates3">
          {{ date }}
        </td>
      </tr>
      <tr>
        <td *ngFor="let date of dates4">
          {{ date }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
