<div>
  <h1 class="text-center">{{title}}</h1>
  <h2 class="title py-4 px-6 border rounded flex items-center flex-col mb-2">
    НОЯБРЬ
  </h2>
  <table class="text-center table-striped table table-bordered otstup">
    <thead>
      <th scope="row">Недели</th>
      <th scope="col">Понедельник</th>
      <th scope="col">Вторник</th>
      <th scope="col">Среда</th>
      <th scope="col">Четверг</th>
      <th scope="col">Пятница</th>
      <th scope="col">Суббота</th>
      <th scope="col">Воскресенье</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Первая</th>
        <td>31</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr>
        <th scope="row">Вторая</th>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr>
        <th scope="row">Третья</th>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">Четвертая</th>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
      </tr>
      <tr>
        <th scope="row">Пятая</th>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
    </tbody>
  </table>
</div>
