<div>
  <h1 class="text-center">{{ name }}</h1>
  <h2 class="title py-4 px-6 border rounded flex items-center flex-col mb-2 uppercase">
    {{date.format('MMMM')}}
  </h2>
  <table class="text-center table-striped table table-bordered otstup">
    <thead>
      <th scope="col">Понедельник</th>
      <th scope="col">Вторник</th>
      <th scope="col">Среда</th>
      <th scope="col">Четверг</th>
      <th scope="col">Пятница</th>
      <th scope="col">Суббота</th>
      <th scope="col">Воскресенье</th>
    </thead>
    <tbody>
      <tr *ngFor="let date of dates">
        <td *ngFor="let col of date">
          {{ col }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  {{date.format('dd, MMMM YYYY, h:mm:ss a')}}
  <h1>{{date.format('dd, hA')}}</h1>
</div>

